<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/dist/css/bootstrap.css}">

<head>
    <meta charset="UTF-8">
    <title th:text="${guest.getFirstName()}"></title>
</head>
<body>
<div th:insert="~{header :: header}"></div>

<h3 th:text="${'Id: ' + guest.getId()}"></h3>
<p th:text="${'Name: ' + guest.getFirstName() + ' ' + guest.getLastName()}"></p>
<p th:text="${'Passport id: ' + guest.getPassportId()}"></p>
<p th:text="${'Phone: ' + guest.getPhone()}"></p>
<p th:text="${'Email: ' + guest.getEmail()}"></p>

<br>
<form th:action="@{/guests/{id}/edit(id=${guest.getId()})}">
  <input type="submit" value="Edit" class="btn btn-secondary"/>
</form>

<br/>
<form th:method="DELETE" th:action="@{/guests/{id}(id=${guest.getId()})}">
  <input type="submit" value="Delete" class="btn btn-danger"/>
</form>

<hr/>
<br/>
<table class="table table-sm table-striped">
    <thead class="table-dark">
    <tr>
        <th>Booking id</th>
        <th>Room</th>
        <th>Check in</th>
        <th>Check out</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="booking : ${guest.getReservations()}">
        <td>
            <a th:href="@{/bookings/{id}(id=${booking.getId()})}" th:text="${booking.getId()}"></a>
        </td>
        <td>
            <a th:href="@{/rooms/{roomNumber}(roomNumber=${booking.getRoom().getRoomNumber()})}"
               th:text="${booking.getRoom().getRoomNumber()}"></a>
        </td>
        <td th:text="${booking.getCheckInDate()}"></td>
        <td th:text="${booking.getCheckOutDate()}"></td>
        <td th:text="${booking.getState()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>