<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/dist/css/bootstrap.css}">

<head>
    <meta charset="UTF-8">
    <title th:text="'Booking #' + ${booking.getId()}"></title>
</head>
<body>
<div th:insert="~{header :: header}"></div>

<h3 th:text="${'Id: ' + booking.getId()}"></h3>
<p th:text="${'Guest name: ' + booking.getGuest().getFirstName() + ' ' + booking.getGuest().getLastName()}"></p>
<p th:text="${'Room number: ' + booking.getRoom().getRoomNumber()}"></p>
<p th:text="${'Check in date: ' + booking.getCheckInDate()}"></p>
<p th:text="${'Check out date: ' + booking.getCheckOutDate()}"></p>
<p th:text="${'Total cost: ' + booking.getTotalCost()}"></p>
<p th:text="${'Status: ' + booking.getState()}"></p>



<div th:if="${booking.getState().name() == 'ONGOING'}">
<br>
<form th:action="@{/bookings/{id}/edit(id=${booking.getId()})}">
    <input type="submit" value="Edit dates" class="btn btn-secondary"/>
</form>
<br/>
<form th:method="POST" th:action="@{/bookings/{id}/close(id=${booking.getId()})}">
    <input type="submit" value="Close" class="btn btn-danger"/>
</form>
</div>

</body>
</html>